.footerParent {  
  height: 72px;
  background: #201B21;
  color: #D9DBE1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footerText {
  /* border: 1px solid orange; */
  font-size: 0.9rem;
  font-feature-settings: 'liga' off;
  /* font-style: normal; */
  font-weight: 300;
  opacity: 0.7;
}

.footerIcons {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.footerIcons img:hover {
  cursor: pointer;
}